@page "/About"

@inject HttpClient Http

<div class="container-fluid">
    <h1>About Cryptonyms</h1>

    <div class="row">
        <div class="col-10">
            <div class="card adjustable-font-size mb-3">
                <div class="card-header">
                    <h4 class="mb-0">Basic Information</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Cryptonyms was created during the COVID-19 outbreak to allow people to play games together online whilst social distancing.</li>
                        <li>It has built in messaging to allow players to communicate with other players in the game, but feel free to bring along your own voice chats!</li>
                        <li>Since its public release we have hosted @(_gameCountString ?? "fetching statistics...").</li>
                    </ul>
                    <p class="mb-0">
                        Stay safe, and enjoy!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <img src="/images/silhouette-agents.png" style="height: 25vh; " />
        </div>
    </div>

    <div class="card mb-5 adjustable-font-size">
        <div class="card-header">
            <h4 class="mb-0">Player Guide</h4>
        </div>
        <div class="card-body">
            <p>Click the tabs below to show documentation on the relevant subject.</p>
            <div class="card border rounded">
                <TabControl AdditionalButtonClasses="adjustable-font-size" AdditionalButtonGroupClasses="card-header">
                    <TabPage Title="New Games">
                        <div class="card-body">
                            <ul class="mb-0">
                                <li>A <strong>host</strong> can create a game by navigating to the <NavLink href="NewGame" Match="NavLinkMatch.All">New Game page</NavLink> and setting up a game (with at least 4 players).</li>
                                <li>Players will need to be assigned to teams, and a <strong>Spymaster</strong> for each team will need selecting. This can be done manually, or randomly depending on the host's preference.</li>
                                <li>Cryptonyms will remember players on a given device, so a host need only create each player once if playing multiple games.</li>
                                <li>Games can also be made either public, or private by the host. Public games will be visible on the <NavLink href="Games" Match="NavLinkMatch.All">Games page</NavLink>, whereas private games will not.</li>
                                <li>Once a game is created, the host should distribute the URL to the relevant parties. If the game is public, it will also be available on the <NavLink href="Games" Match="NavLinkMatch.All">Games page</NavLink>.</li>
                            </ul>
                            <div class="row mt-2">
                                <div class="col text-center">
                                    <img src="/images/gifs/new-game-new-player.gif" class="img-about" />
                                </div>
                                <div class="col text-center">
                                    <img src="/images/gifs/new-game-random-teams.gif" class="img-about" />
                                </div>
                            </div>
                        </div>
                    </TabPage>
                    <TabPage Title="Player Identification">
                        <div class="card-body">
                            <ul class="mb-0">
                                <li>In order to participate in a game, players will need to identify themselves.</li>
                                <li>This identification enables Cryptonyms to customise the player's experience depending on which <strong>role</strong> they have, namely which team they are on, and whether they are the <strong>Spymaster</strong> or a <strong>Guesser</strong>.</li>
                                <li>In order to identify players without requiring a user account to be created, Cryptonyms makes use of local storage, if you experience issues identifying please ensure that <a href="https://mid.as/kb/00103/enable-disable-or-clear-web-storage-cache" target="_blank">storage is enabled in your browser</a>.</li>
                                <li>Upon navigating to the URL of a game, a player will be shown a table of players, and the player's <strong>role</strong> in the game.</li>
                                <li>If playing multiple consecutive games, a user will remain identified with the same name, and so can automatically join games where a player of that name has been created.</li>
                                <li>If all players in a game have been identified, a new player can still join if they have the appropriate URL. They just need to provide themselves with a name, and they will be assigned to the team with the fewest guessers (or at random if the teams are of equal size).</li>
                                <li>If a player accidentally identifies themselves incorrectly, then they can expand the dropdown in the game and re-identify themselves correctly.</li>
                            </ul>
                            <div class="row mt-2">
                                <div class="col text-center">
                                    <img src="/images/gifs/player-identification.gif" class="img-about" />
                                </div>
                                <div class="col text-center">
                                    <img src="/images/gifs/player-reidentification.gif" class="img-about" />
                                </div>
                            </div>
                        </div>
                    </TabPage>
                    <TabPage Title="Gameplay">
                        <div class="card-body">
                            <ul class="mb-0">
                                <li>Once a player has succesfully identified themselves in a game, they will be shown a view of the board and chats relevant to their role.</li>
                                <li>The <strong>Spymaster</strong> on the relevant team will be prompted to give a clue.</li>
                                <li>Once a clue has been provided guessers on the relevant team will be able to click on the cards in the boad to reveal their colours.</li>
                                <li>If the guessers are unable to make any more guesses, they can then pass their turn, using the Pass button.</li>
                                <li>Note that any user action that does not fit into the current poisition in the gameplay are disabled - i.e. users on the opposing team, will not be able to perform actions until it is their turn.</li>
                                <li>All actions should be synchronised across all player's screens, but occasional issues may require a refresh to resolve.</li>
                                <li>Each user action will also be added to the <strong>Game Log</strong>, to allow players to view previous actions.</li>
                                <li>Once a game has ended, players can create a new game by navigating to the <NavLink href="NewGame" Match="NavLinkMatch.All">New Game page</NavLink>.</li>
                                <li>Note that completed games will be automatically cleaned up at 00:00 (UTC), whilst games which are in progress will be cleaned up after 5 days if not completed.</li>
                            </ul>
                            <div class="row mt-2">
                                <div class="col text-center">
                                    <img src="/images/gifs/play-game-give-clue.gif" class="img-about" />
                                </div>
                                <div class="col text-center">
                                    <img src="/images/gifs/play-game-make-guesses.gif" class="img-about" />
                                </div>
                            </div>
                        </div>
                    </TabPage>
                </TabControl>
            </div>
        </div>
    </div>

    <div class="mt-5 adjustable-font-size">
        <h3>Acknowledgements:</h3>
        <p>Cryptonyms gameplay was inspired by the popular <a href="https://czechgames.com/en/codenames/" target="_blank">Codenames boardgame</a>.</p>
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="mb-0">Software</h4>
            </div>
            <div class="card-body">
                <p>
                    Cryptonyms was created using Microsoft's <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> WebAssembly. It also makes use of the following open source software libraries, listed by category and alphabetically.
                </p>
                <div class="row">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-0">Client</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Cloudcrate's <a href="https://github.com/cloudcrate/BlazorStorage/blob/master/LICENSE.txt" target="_blank">BlazorStorage</a> v3.0.0</li>
                                    <li>Green Sock's <a href="https://greensock.com/standard-license/" target="_blank">GSAP</a> v3.2.6</li>
                                    <li>JamesNK's <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md" target="_blank">NewtonSoft.Json</a> v12.0.3</li>
                                    <li><a href="https://jquery.org/license/" target="_blank">jQuery</a> JavaScript Library v3.5.0</li>
                                    <li>SpryMedia Ltd's <a href="https://datatables.net/license/mit" target="_blank">DataTables</a> v1.10.20</li>
                                    <li>jsakamoto's <a href="https://github.com/jsakamoto/Toolbelt.Blazor.TimeZoneKit/blob/master/LICENSE" target="_blank">Toolbelt.Blazor.TimeZoneKit</a> v7.0.0</li>
                                    <li><a href="https://www.useiconic.com/open" target="_blank">Open Iconic</a></li>
                                    <li>Twitter's <a href="https://github.com/twbs/bootstrap/blob/v4.0.0/LICENSE" target="_blank">Bootstrap</a> v4.3.1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-0">Server</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>JamesNK's <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md" target="_blank">NewtonSoft.Json</a> v12.0.3</li>
                                    <li><a href="https://github.com/NLog/NLog/blob/master/LICENSE.txt" target="_blank">NLog</a> v4.7.0</li>
                                    <li><a href="https://www.quartz-scheduler.net/license.html" target="_blank">Quartz.NET</a> v3.0.7</li>
                                    <li>stefanprodan's <a href="https://github.com/stefanprodan/AspNetCoreRateLimit/blob/master/LICENSE.md" target="_blank">AspNetCoreRateLimit</a> v3.0.5</li>
                                    <li>SQLite's <a href="https://www.sqlite.org/copyright.html" target="_blank">System.Data.SQLite</a> v1.0.112</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h4 class="mb-0">Images</h4>
            </div>
            <div class="card-body">
                <ul>
                    <li>Blue Ballon: Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3129148" target="_blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/balloon-blue-shiny-helium-happy-25734/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=25734" target="_blank">Pixabay</a></li>
                    <li>Bullet: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308915">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/bullet-ammunition-cartridge-caliber-308915/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=308915" target="_blank">Pixabay</a></li>
                    <li>Man Walking: Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2759950" target="_blank">mohamed Hassan</a> from <a href="https://pixabay.com/vectors/man-walking-confident-silhouette-2759950/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2759950" target="_blank">Pixabay</a></li>
                    <li>Red Ballon: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=303789" target="_blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/balloon-red-party-celebration-303789/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=303789" target="_blank">Pixabay</a></li>
                    <li>Sherlock Holmes Favicon: Image by <a href="https://pixabay.com/users/422737-422737/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=462957">Hebi B.</a> from <a href="https://pixabay.com/illustrations/sherlock-holmes-detective-462957/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=462957">Pixabay</a></li>
                    <li>Silhouette Agents: Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3129148" target="_blank">mohamed Hassan</a> from <a href="https://pixabay.com/vectors/silhouette-agent-criminal-detective-3129148/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3129148" target="_blank">Pixabay</a></li>
                    <li>Silhouette Assassin: Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3167656" target="_blank">mohamed Hassan</a> from <a href="https://pixabay.com/vectors/silhouette-secret-agent-gun-3167656/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3167656" target="_blank">Pixabay</a></li>
                    <li>Silhouette Group: Image by <a href="https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2026064" target="_blank">OpenClipart-Vectors</a> from <a href="https://pixabay.com/vectors/boy-child-cooperation-dad-daughter-2026064/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2026064" target="_blank">Pixabay</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@code {
    private string _gameCountString;

    protected override async Task OnInitializedAsync()
    {
        var gameCount = await Http.GetJsonAsync<int>("api/Game/Count");
        _gameCountString = $"{gameCount.ToString("N0")} game{(gameCount == 1 ? "" : "s")}, with {(await Http.GetJsonAsync<int>("api/Word/Count")).ToString("N0")} different words";
    }
}