@page "/"

@inject HttpClient Http

<h1>Welcome to Cryptonyms</h1>

<div class="container-fluid">
    <div class="row adjustable-font-size">
        <p>An online game inspired by the popular <a href="https://czechgames.com/en/codenames/" target="_blank">Codenames boardgame</a>. @(_gameCountString ?? "Fetching statistics...")</p>
    </div>
    <div class="row adjustable-font-size">
        <p>Learn more about Cryptonyms by going to the <NavLink href="About" Match="NavLinkMatch.All">About page</NavLink>, or <NavLink href="NewGame" Match="NavLinkMatch.All">click here to create a new game</NavLink>.</p>
    </div>
    <div>
        <img src="/images/silhouettes.png" class="w-50 h-50"/>
    </div>
</div>

@code {
    private string _gameCountString;

    protected override async Task OnInitializedAsync()
    {
        var gameCount = await Http.GetFromJsonAsync<int>("api/Game/Count");
        _gameCountString = $"We have currently hosted {gameCount.ToString("N0")} game{(gameCount == 1 ? "" : "s")}!";
    }
}