@page "/"

@inject HttpClient Http

<h1>Welcome to Codenames Online</h1>

<div class="container-fluid">
    <div class="row">
        <p>An online game inspired by the popular <a href="https://czechgames.com/en/codenames/" target="_blank">Codenames boardgame</a>. @(_gameCountString ?? "Fetching statistics...")</p><br />
    </div>
    <div class="row">
        <img src="/images/silhouettes.png" class="w-50 h-50"/>
    </div>
</div>

@code {
    private string _gameCountString;

    protected override async Task OnInitializedAsync()
    {
        var gameCount = await Http.GetJsonAsync<int>("api/Game/Count");
        _gameCountString = $"We have currently hosted {gameCount.ToString("N0")} game{(gameCount == 1 ? "" : "s")}!";
    }
}